/Filter$PARSE.class
/Filter.class
/Mean.class
/Multistatistic.class
/Operation.class
/OperationCustom.class
/OperationSingleValue.class
/OperationStream.class
/OperationTracker.class
/Pipeline.class
/StandardOperation.class
/StatisticOperation.class
/Statistics.class
/TimeInterval.class
/Variance.class
/Windower.class
/Map.class
/Frequency.class
/Time.class
/Times.class
/HandFrequency.class
/WordsNumber.class
/MultimediaData.class
/Presence.class
/MapWorker.class
